.tiles {
  width: 160px;
  height: 800px;
  position: absolute;
  overflow: auto;
  left: 0;
  top: 0;
}
.tiles .selected {
  border: 2px solid #ff0000;
  margin: 0;
}

.tiles .delete {
  background-color: black;
  color: white;
  position: absolute;
  z-index: 10000;
  display: none;
}
.tiles .delete:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.tiles div:hover .delete {
  display: inline;
}

#main {
  margin-left: 160px;
  width: 1000px;
  overflow: auto;
  height: 800px;
  background-color: gray;
}
.container {
  display: table-cell;
  background-color: white;
}
.container span {
  display: block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 0;
}
.container div, .tiles div, #calculations div {
  position: relative;
  background-size: contain;
  margin: 1px;
  padding: 0;
  border: 0;
  display: inline-block;
}

.container div:hover {
  outline: 2px solid black;
}

.container div .hover {
  line-height: 100%;
  background-color: black;
  color: white;
  position: absolute;
  z-index: 10000;
  display: none;
  padding: 3px;
}
.keyboard-17-pressed #main div:hover:before {
  background-image: none !important;
  background-color: white !important;
}
.keyboard-17-pressed .container div:hover .hover {
  display: inline;
}
.container div .hover:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}
.container div .add-right {
  right: 0;
  top: 50%;
}
.container div .add-below {
  left: 50%;
  bottom: 0;
}
.container div .remove-row {
  left: 50%;
  top: 0;
}
.container div .remove-col {
  left: 0;
  top: 59%;
}

.container div:before, .tiles div:before,  #calculations div:before {
  background-size: contain;
}

.tiles div {
  display: block;
}

.tiles {
  background-color: gray;
}

.tiles div {
  border: 1px solid black;
  padding: 1px;
}

.container div:before {
  border: 0;
}
.container div.rotate90:before {
  transform: rotate(90deg);
}
.container div.rotate180:before {
  transform: rotate(180deg);
}
.container div.rotate270:before {
  transform: rotate(270deg);
}

.controls {
  margin-left: 160px;
}

.controls input {
  width: 40px;
}

.controls input#uid {
  width: 260px;
}

.controls span {
  display: inline-block;
  width: 20px;
}

.controls #selectToCalculate {
  display: none;
  background-color: white;
  border: 1px solid black;
  padding: 3px;
  position: absolute;
  z-index: 2000;
}

.controls #selectToCalculate label {
  display: block;
}
.controls #selectToCalculate button {
  margin-top: 20px;
  margin-left: 15px;
}

#calculations {
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  z-index: 3000;
}

#calculations div span {
  font-size: 130%;
  color: white;
  font-weight: bold;
  background-color: black;
  padding: 3px;
  position: absolute;
  z-index: 30000;
}

#calculations div:nth-of-type(4n+1) {
  clear: both;
}

#message {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20pt;
  display: none;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  z-index: 1000;
}

#tilesEditor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: white;
  z-index: 1000;
}

#tilesEditorTiles div {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #cccccc;
}

#tilesEditorTiles label {
  display: table;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #cccccc;
}

#tilesEditorControls {
  display: block;
  clear: both;
  margin: 10px;
  padding: 10px;
}

#tilesEditorTileSize {
  margin-bottom: 20px;
  display: block;
}

.noselection {
  user-select: none;
  cursor: default;
}