@media print {
  .tiles, .controls {
    display: none;
  }

  #main {
    margin: 0;
    display: table-cell;
    overflow: visible;
    background-color: transparent;
    border: 1px solid #000000;
    width: auto !important;
    height: auto !important;
  }
}