body {
  width: 400px;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

@media (hover:none), (hover:on-demand), (pointer:coarse) {
  body {
    width: auto;
    font-size: 40pt !important;
    font-family: Arial, Helvetica, sans-serif !important;
  }
  #plaintext {
    width: 100% !important;
  }
}

input {
  font-size: 1em;
}

label {
  display: block;
  margin-bottom: 1em;
}
label > span {
  display: inline-block;
  width: 5em;
}
label > input {
  width: 3em;
}
#plaintext {
  width: 32em;
}
.error {
  background-color: #ffcccc;
  color: #330000;
}
#shares div {
  margin: .5em 0;
  border: 1px solid black;
  display: table;
  padding: .5em;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}
#shares div:hover {
  background-color: #333333;
  color: white;
}
#sharesContainer {
  display: grid;
  row-gap: 1em;
}
#sharesContainer input {
  width: 100%;
}
.tabNav {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 50% 50%;
}
.tabNav a {
  cursor: pointer;
  padding: .3em .5em;
  font-size: 2em;
}
.tabNav a#tabEncrypt {
  grid-column: 1;
}
.tabNav a#tabDecypt {
  grid-column: 2;
}
.tabNav a:hover {
  background-color: #cccccc;
  color: black;
}
.tabNav a.selected, .tabNav a:hover.selected {
  background-color: #333333;
  color: white;
}
#decrypted {
  display: none;
  margin-top: 1em;
}
#decrypted::before {
  content: "Decrypted: ";
  font-weight: bold;
}
#encryptSharesContainer {
  display: none;
}
