/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */

.tiles {
  width: 100px;
  height: 800px;
  float: left;
  overflow: scroll;
}
.tiles .selected {
  border: 2px solid #ff0000;
  margin: 0;
}
#main {
  float: left;
  width: 1000px;
  overflow: auto;
  height: 800px;
}
.container span {
  overflow: visible;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
.container div, .tiles div {
  width: 64px;
  height: 64px;
  background-size: contain;
  margin: 1px;
  float: left;
}
.container .rotate90 {
  transform: rotate(90deg);
}
.container .rotate180 {
  transform: rotate(180deg);
}
.container .rotate270 {
  transform: rotate(270deg);
}
div.tile01 {background-image: url("img/tile01.jpg");}
div.tile02 {background-image: url("img/tile02.jpg");}
div.tile03 {background-image: url("img/tile03.jpg");}
div.tile04 {background-image: url("img/tile04.jpg");}
div.tile05 {background-image: url("img/tile05.jpg");}
div.tile06 {background-image: url("img/tile06.jpg");}
div.tile07 {background-image: url("img/tile07.jpg");}
div.tile08 {background-image: url("img/tile08.jpg");}
div.tile09 {background-image: url("img/tile09.jpg");}
div.tile10 {background-image: url("img/tile10.jpg");}
div.tile11 {background-image: url("img/tile11.jpg");}
div.tile12 {background-image: url("img/tile12.jpg");}
div.tile13 {background-image: url("img/tile13.jpg");}
div.tile14 {background-image: url("img/tile14.jpg");}
div.tile15 {background-image: url("img/tile15.jpg");}
div.tile16 {background-image: url("img/tile16.jpg");}
div.tile17 {background-image: url("img/tile17.jpg");}
div.tile18 {background-image: url("img/tile18.jpg");}
div.tile19 {background-image: url("img/tile19.jpg");}
div.tile20 {background-image: url("img/tile20.jpg");}
div.tile21 {background-image: url("img/tile21.jpg");}
div.tile22 {background-image: url("img/tile22.jpg");}
div.tile23 {background-image: url("img/tile23.jpg");}
div.tile24 {background-image: url("img/tile24.jpg");}
div.tile25 {background-image: url("img/tile25.jpg");}
div.tile26 {background-image: url("img/tile26.jpg");}
div.tile27 {background-image: url("img/tile27.jpg");}
div.tile28 {background-image: url("img/tile28.jpg");}
div.tile29 {background-image: url("img/tile29.jpg");}

.controls input {
  width: 40px;
}

.controls span {
  display: inline-block;
  width: 20px;
}